#modalBackground {
	display: block;/*hidden by default*/
	position: fixed;/*stay in place*/
	z-index: 1;/*sits on top*/
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0); /*fallback color*/
	background-color: rgba(25, 25, 25, 0.8);/*black with opacity*/
}

.dialog{
	position: fixed;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#progressBarModal{
	display: block;
}

#progressBarImage{
	width: 64px;
	height: 64px;
}

#loginModal{
	display: none;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	text-align: center;
}

#loginModal h1{
	font-size: 1.6em;
}

#loginModal div{
	margin-top: 20px;
}

#loginPasswordInput{
	width: 100%;
	padding: 8px;
	background: rgb(245, 245, 245);
	font-size: 1.3em;
	border: 0px;
	border-radius: 5px;
}

#loginPasswordInputError{
	display: block;
}

.inputError{
	font-size: 0.9em;
	color: red;
	font-style: italic;
}

#loginBtn{
	width: 100%;
	padding: 8px;
	border: 0;
	border-radius: 10px;
	font-size: 1.3em;
	color: white;
	background-color: rgb(58, 91, 158);
}

#loginBtn:hover{
	cursor: pointer;
	color: white;
	background-color: rgb(87, 101, 218);
}

#uploadingModal{
	height: 24px;
	width: 300px;
	border: 2px solid darkblue;
	border-radius: 20px;
}

.progress-bar-fill{
	height: 100%;
	width: 0%;
	border-radius: 20px;
	background-color: rgb(158, 191, 248);
	display: flex;
	align-items: center;
	transition: width 0.25s;
}

.progress-bar-text{
	margin-left: 10px;
	font-weight: bold;
}