#uploadWindow{
	position: relative;
	width: 100%;
	height: 60vh;
	overflow-y: auto;
}
#uploadWindow table{
	/*border: 1px solid gray;*/
}
#uploaded2{
	display: none;
}
#uploaded3{
	display: none;
}
#uploaded4{
	display: none;
}
#uploaded5{
	display: none;
}
#uploaded1{
	border-spacing: 20px 20px;
	margin: auto;
}
#uploaded1 tr td{
	width: 200px;
	height: 200px;
}
#uploaded1 tr td div img{
	width: 100%;
	height: 200px;
}
#uploaded1 tr td div img:hover, .hideable span button:hover{
	cursor: pointer;
}
.hideableContainer:hover .hideable{
	display: block;
}
.hideable span button{
	width: 50%;
	color: rgb(36, 41, 46);
}
.hideable{
	display: none;
	text-align: center;
	margin-top: 10px;
}

#fabContainer{
	position: absolute;
	display: inline;
	width: 64px;
	height: 64px;
	bottom: 12px;
	right: 12px;
}
#fab{
	position: fixed;
	cursor: pointer;
	width: 64px;
	height: 64px;
	content: url("../images/icons/ic_add.png");
}
#fab:hover{
	content: url("../images/icons/ic_add_hover.png");
}

@media (max-width: 1100px){
	#uploaded1{
		display: none;
	}
	#uploaded2{
		display: table;
		border-spacing: 20px 20px;
		margin: auto;
	}
	#uploaded3{
		display: none;
	}
	#uploaded4{
		display: none;
	}
	#uploaded5{
		display: none;
	}
	#uploaded2 tr td{
		width: 25%;
	}
	#uploaded2 tr td div img{
		width: 200px;
		height: 200px;
	}
	#uploaded2 tr td div img:hover, .hideable span button:hover{
		cursor: pointer;
	}
	.hideableContainer:hover .hideable{
		display: block;
	}
	.hideable span button{
		width: 50%;
		color: rgb(36, 41, 46);
	}
	.hideable{
		display: none;
		text-align: center;
		margin-top: 10px;
	}
}

@media (max-width: 900px){
	#uploaded1{
		display: none;
	}
	#uploaded2{
		display: none;
	}
	#uploaded3{
		display: table;
		border-spacing: 20px 20px;
		margin: 0 auto;
	}
	#uploaded4{
		display: none;
	}
	#uploaded4{
		display: none;
	}
	#uploaded3 tr td{
		width: 33%;
	}
	#uploaded3 tr td div img{
		width: 200px;
		height: 200px;
	}
	#uploaded3 tr td div img:hover, .hideable span button:hover{
		cursor: pointer;
	}
	.hideableContainer:hover .hideable{
		display: block;
	}
	.hideable span button{
		width: 50%;
		color: rgb(36, 41, 46);
	}
	.hideable{
		display: none;
		text-align: center;
		margin-top: 10px;
	}
}
@media (max-width: 700px){
	#uploaded1{
		display: none;
	}
	#uploaded2{
		display: none;
	}
	#uploaded3{
		display: none;
	}
	#uploaded4{
		display: table;
		border-spacing: 20px 20px;
		margin: 0 auto;
	}
	#uploaded5{
		display: none;
	}
	#uploaded4 tr td{
		width: 50%;
	}
	#uploaded4 tr td div img{
		width: 200px;
		height: 200px;
	}
	#uploaded4 tr td div img:hover, .hideable span button:hover{
		cursor: pointer;
	}
	.hideableContainer:hover .hideable{
		display: block;
	}
	.hideable span button{
		width: 50%;
		color: rgb(36, 41, 46);
	}
	.hideable{
		display: none;
		text-align: center;
		margin-top: 10px;
	}
}
@media (max-width: 450px){
	#uploaded1{
		display: none;
	}
	#uploaded2{
		display: none;
	}
	#uploaded3{
		display: none;
	}
	#uploaded4{
		display: none;
	}
	#uploaded5{
		display: table;
		border-spacing: 20px 20px;
		margin: 0 auto;
	}
	#uploaded5 tr td{
		width: 100%;
	}
	#uploaded5 tr td div img{
		width: 200px;
		height: 200px;
	}
	#uploaded5 tr td div img:hover, .hideable span button:hover{
		cursor: pointer;
	}
	.hideableContainer:hover .hideable{
		display: block;
	}
	.hideable span button{
		width: 50%;
		color: rgb(36, 41, 46);
	}
	.hideable{
		display: none;
		text-align: center;
		margin-top: 10px;
	}
}
